.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gem-header{
  background-image: url("https://c.pxhere.com/photos/e8/90/amethyst_crystal_purple_macro_quartz_mineral_gem_stone-623881.jpg!d");
  background-size: cover;
  background-position: center;
}

.facet-title{
  font-size: 40px;
}
